/* ===========RESETEO DE LA CONFIGURACION INICIAL POR DEFECTO=========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    list-style-type: none; /* para quitarle las viñetas a los items de la lista*/  
}
/*---------------------------------------------------------------------------*/

/*==============MODIFICACION DE TIPO DE TIPOGRAFIA PARA TODO EL INDEX==================*/
* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "width" 100;
  }
/*---------------------------------------------------------------------------------------*/

/*====================================================================*/
/*==========================CABECERA==========================*/
header{
    display: flex;
    align-items: center; /*para que queden centrados verticalmente*/
    justify-content: space-between;/*para que deje el espacio bacion entre los elementos en medio de ellos*/
    padding: 0.5% 2%;
    background-color:#f8f9f9 ;
}

.logo {
    max-width: 15%;
}

/*========================NAVBAR=========================================*/
.nav-list {
    display: flex;/*para que los items se pongan en fila uno al lado del otro*/
    gap: 1rem;/*para darle separacion entre si a los items de la lista*/
}

.nav-list li a {
    display: block;/*para que los elementos de la lista no se superpongan entre si*/
    text-decoration: none;/*para quitarle el subrayado del link*/
    color: black;
    padding: 0.5rem;
    background-color: white;
}

.nav-list li a:hover {
    color: green;
}



/*SUBMENU*/
.nav-list-sublist{
    display: none;/*para ocultar el sub-menu*/
    position: absolute;/*para que al abrir el submenu no deforme las medidas del menu*/
}

.nav-list li:hover > ul {
    display: block;/*para que muestre el sector de submenu que corresponde al item del menu por el cual se hace el hover*/
}
/*-------------------------------------------------------------------*/
.abrir-menu {
    display: none;
}

/*BUSCADOR DE PRODUCTOS*/
.serchbar{
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 8px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
  
    input{
        height: 40px;
        border: none;
        padding: 0rem 0.5rem 0rem 0.5rem;
        margin: 0rem 0.5rem 0rem 0.5rem;
        font-size: medium;
    }
    img{
        height: 30px;
    }
}

/*CARRITO DE COMPRAS*/
/*.cart{
   div img{
    background-color: cornflowerblue;
        padding: 4px;
        height: 60px;
        border-radius: 50%;
        img{
            width: 30px;
        }
    } 
}*/

.cart{
    margin-left: 1rem;
    div {
     background-color: cornflowerblue;
         padding: 4px;
         height: 60px;
         width: 60px;
         border-radius: 50%;
         /*lo de abajo para centrar el carrito dentro del fondo redondo*/
         display: flex;
        justify-content: center;
        align-items: center;
         img{
            
             width: 30px;
             margin-right: 4px;/*para que la imagen se vea más centrada por la forma del carrito*/
         }
     } 
 }
    
/*=============CONTENEDOR DE PRODUCTOS===============*/    
.banner-tipo-producto-contenedor{
    display: flex;
    flex-wrap: wrap;

   img {
            margin: 5%;
        }
    .banner-tipo-producto-alta{
        background-image: url("/carpetaImagenes/banner-tipo-productos/banner-productos-escalada.jpg");
        width: 50%;
        background-repeat: no-repeat;
        background-size: auto;
    }


    .banner-tipo-producto-chica{
        width: 45%;
        align-content: space-between;
        .banner-tipo-producto-chica-img img{
            width: 100%;
            margin-left: 10%;
            
        }
    }
}

.banner-tipo-producto-ancha img {
    width: 100%;
}

.prod-destacados-container-productos{
    display: flex;
}

.contenedor-producto {
    padding: 2%;
    img{
        width: 16rem;
    }
}
